h1 {
  font-family: monospace;
  font-style: normal;
}

p {
  font-family: monospace;
}

sub {
  font-family: monospace;
}
.title {
  font-size: calc(1rem + 0.5vw);
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: monospace;
}

p a:hover {
  /* gradient */
  background: -webkit-linear-gradient(#e5a9a9, #805ede);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ls-output {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: calc(0.5rem + 0.5vw);
}

.date-subheading {
  font-size: calc(0.5rem + 0.1vw);
  font-weight: 400;
  color: #cacaca;
  text-wrap: nowrap;
}

p {
  font-family: "futura-pt", sans-serif;
}
