---
import Layout from '../layouts/Layout.astro';
import Posts from '../components/Posts.astro';
import '../styles/postpage.css';
// allPosts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));
---

<Layout title="Writings">
  <main>
    <h1 class="title">Brain Pickings</h1>
    <sub>A few interesting notes</sub>
    <hr>
    <Posts />
  </main>
</Layout>