---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a href={href} class="back">&laquo; {title}</a>

<style>
  .back {
    font-family: "futura-pt" sans-serif;
    display: block;
    margin-bottom: 1em;
    color: #999;
    text-decoration: none;
    font-size: medium;
  }
  .back:hover {
    color: #666;
  }
</style>
